@model Contrib.Cache.Memcached.ViewModels.MemcachedSettingsViewModel
@using Orchard.Utility.Extensions;
@using Contrib.Cache.Memcached.Models;

@{ 
    Layout.Title = T("Memcached").ToString(); 
}


@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

<p>@T("The section below must contain a server and a port on each line. You can optionally add comments by beginning with a '#'")</p>

<fieldset>
    <div>
        @Html.TextAreaFor(m => m.Servers, new { @class = "textMedium" })
    </div>
</fieldset>

    <fieldset>
    <button class="primaryAction" name="submit" value="@T("Save")" type="submit">@T("Save")</button>
</fieldset>    
}
